/*Global*/

body{
    margin:0; 
    font-family: , helvetica, sans-serif;
    width: 1440px;
    margin-left: auto;margin-right: auto;
}

.wrapper{

}

h1{
    margin: 0 auto;
}

/*Helpers*/
:active::after{
    content:" ";
    clear: both;
    display:table;
}

/*bloque 1*/

#bloque1{
    background-color: #87509C;
    height: 596px;
}

#logo{
    width: 118px;
    padding-left: 212px;
    padding-top: 56px;
}

#menu ol{
    /*padding-left: 0;
    float: right;*/

    list-style: none;
}

#menu-list{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-list li{
    float:right;
    margin-right: 40px;
}

#fondo-oscuro{
    background-color: #643A79;
    width:77px;
    height: 32px;
}


#Title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 49px;
    color: #F7F3EA;
    font-weight: 700;
    padding-top: 145px;
    padding-left: 267px;
    padding-right: 267px;
    /*padding-bottom:62px;*/

}

#link{
    /*
    padding-bottom: 145px;*/
    background-color: #EB7D4B;
    width:293px;
    padding-top: 28px;
    padding-bottom: 25px;
}

/*#link{
    background-color: #C86A40;
    height: 4px;
    width: 294px;
    padding: 0; margin: 0;

}*/

#link a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


/*Bloque 2*/

#title-info{
    background-color: #17C2A4;
    height: 746px;
}